<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/reset.css" />
  <link rel="stylesheet" href="../css/blacklist.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/header.css" />


  <title>Document</title>
</head>

<body>

  <section class="avatarPic">
    <img src="../images/vraagteken.png" />
  </section>
  <nav>
    <ul>
      <li class="browser"><a href="/">Landing Page</a></li>
      <li class="ipad"><a href="/">&#8592;</a></li>
      <li><a href="/fortniteHome">Home</a></li>
      <li><a href="/favoriet">Favorieten</a></li>
      <li><a href="/blacklist">Blacklists</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
  <section class="blacklistLayout">
    <ul>
      <% for (let i=0; i < blacklist.length; i++) { %>
        <li>
          <p class="charName"><%= blacklist[i].name %>
          </p>
          <br>
          <img src="<%= blacklist[i].images %>">
          <br><br>
          <div class="buttonblacklist">
            <form method="post" action="/blacklist/update">
              <input type="hidden" name="id" value="<%= blacklist[i]._id %>" />
                <input type="hidden" name="name" value="<%= blacklist[i].name %>">
                <input type="hidden" name="image" value="<%= blacklist[i].images %> %>" />
              <textarea rows="4" name="blacklistReason"><%= blacklist[i].blacklistReason %></textarea>
              <button type="submit">Save</button>
            </form>
            <form method="post" action="/blacklist/delete">
              <input type="hidden" name="id" value="<%= blacklist[i]._id %>">
              <button type="submit">Delete</button>
            </form>
          </div>
        </li>
      <% } %>
    </ul>
  </section>
  <footer>
    <section>
      <h2>Copyright &copy;MSI - Ramazan Sofyan Dachi Rachad</h2>
    </section>
    <section>
      <img src="../images/ap.png">
    </section>
  </footer>
</body>

</html>