<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/reset.css" />
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/header.css" />
  <link rel="stylesheet" href="../css/blacklist.css">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <title>Blacklist</title>
</head>

<body>

  <%- include('partials/header.ejs') %>

  <section class="blacklistLayout">
    <ul>
      <% for (let i=0; i < blacklist.length; i++) { %>
        <li>
          <p class="charName">
            <%= blacklist[i].name %>
          </p>
          <br>
          <img src="<%= blacklist[i].images %>">
          <br><br>
          <div class="buttonblacklist">
            <form method="post" action="/blacklist/update">
              <input type="hidden" name="id" value="<%= blacklist[i]._id %>" />
              <input type="hidden" name="name" value="<%= blacklist[i].name %>">
              <input type="hidden" name="image" value="<%= blacklist[i].images %> %>" />
              <textarea rows="4" name="blacklistReason" value="blacklist reason"><%= blacklist[i].blacklistReason %></textarea>
              <button type="submit">Save</button>
            </form>
            <form method="post" action="/blacklist/delete">
              <input type="hidden" name="id" value="<%= blacklist[i]._id %>">
              <button type="submit">Delete</button>
            </form>
          </div>
        </li>
        <% } %>
    </ul>
    </section>
    <%- include('partials/footer.ejs') %>
