<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/reset.css" />
  <link rel="stylesheet" href="../css/favoriet.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/header.css" />


  <title>Document</title>
</head>

<body>

  <section class="avatarPic">
    <% if (avatarDb) { %>
      <img src="<%= avatarDb %>" />
      <h1 class="username">
        <%=username.toUpperCase()%>
      </h1>
      <% } else { %>
        <img src="../images/vraagteken.png" />
        <h1>
          <%=username%>
        </h1>
        <% } %>
  </section>
  <input class="inputheader" type="checkbox" id="toggle">
  <nav>
    <label class="navbar-toggler" for="toggle">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
  </label>
    <ul class="nav-list">
      <% if (username) { %>
        <a class="nav-link" href="/"><li class="nav-item">Landing Page</li></a>
        <a class="nav-link" href="/fortniteHome"><li class="nav-item">Home</li></a>
        <a class="nav-link" href="/favoriet"><li class="nav-item">Favorieten</li></a>
        <a class="nav-link" href="/blacklist"><li class="nav-item">Blacklists</li></a>
        <a class="nav-link" href="/logout"><li class="nav-item">Logout</li></a>
        <% } else { %>
          <a class="nav-link" href="/login"><li class="nav-item">Login</li></a>
          <% } %>
    </ul>
  </nav>
  <div class="charTabel">
    <section class="testing">
      <% for (let i=0; i < favoriteImages.length; i++) { %>
        <div class="charSolo">
          <h1>
            <a href="/favoriet/<%= favoriteImages[i]._id %>">
              <%= favoriteImages[i].name %>
            </a>
          </h1>
          <section class="articleAvatar">
            <img class="backPick" src="<%= favoriteImages[i].images %>">
            <% let backpackFound=false; %>
              <% for (let j=0; j < backpack.length; j++) { %>
                <% if (favoriteImages[i].name===backpack[j].name && backpack[j].backpack) { %>
                  <% backpackFound=true; %>
                    <img class="backPick" src="<%= backpack[j].backpack %>" />
                    <% } %>
                      <% } %>
                        <% if (!backpackFound) { %>
                          <img class="questionmarkFavoriet" src="../images/vraagteken.png" />
                          <% } %>
                            <% let pickaxeFound=false; %>
                              <% for (let k=0; k < pickaxe.length; k++) { %>
                                <% if (favoriteImages[i].name===pickaxe[k].name && pickaxe[k].pickaxe) { %>
                                  <% pickaxeFound=true; %>
                                    <img class="backPick" src="<%= pickaxe[k].pickaxe %>" />
                                    <% } %>
                                      <% } %>
                                        <% if (!pickaxeFound) { %>
                                          <img class="questionmarkFavoriet" src="../images/vraagteken.png" />
                                          <% } %>
          </section>
        </div>
        <% } %>
    </section>
  </div>
  <footer>
    <section>
      <h2>Copyright &copy;MSI - Ramazan Sofyan Dachi Rachad</h2>
    </section>
    <section>
      <img src="../images/ap.png">
    </section>
  </footer>
</body>

</html>