<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/reset.css" />
  <link rel="stylesheet" href="../css/favoriet.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/header.css" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <title>Favorite characters</title>
</head>

<body>

  <%- include('partials/header.ejs') %>

  <div class="charTabel">
    <section class="testing">
      <% for (let i=0; i < favoriteImages.length; i++) { %>
        <div class="charSolo">

          <% if(favoriteImages[i].rarity=="EFortRarity::Epic" ) { %>
            <div class="flip-card-front" style="background: linear-gradient(to left, #c543f1, #851eae)">
              <% } else if(favoriteImages[i].rarity=="EFortRarity::Legendary" ) {%>
                <div class="flip-card-front" style="background: linear-gradient(to left, #ff8c00, #f9d005)">
                  <% } else if(favoriteImages[i].rarity=="EFortRarity::Uncommon" ) {%>
                    <div class="flip-card-front" style="background: linear-gradient(to left, #4bd319, #14c123)">
                      <% } else if(favoriteImages[i].rarity=="EFortRarity::Common" ) {%>
                        <div class="flip-card-front" style="background: linear-gradient(to left, #585851, #a9a9a3)">
                          <% } else if(favoriteImages[i].rarity=="EFortRarity::Rare" ) {%>
                            <div class="flip-card-front" style="background: linear-gradient(to left, #4364f7, #6fb1fc);">
                              <% } else {%>
                                <div class="flip-card-front" style="background: linear-gradient(to left, grey, black);">
                    <% } %>

          <h1>
            <a href="/favoriet/<%= favoriteImages[i]._id %>">
              <%= favoriteImages[i].name %>
            </a>
          </h1>
          <section class="articleAvatar">
            <img class="backPick" src="<%= favoriteImages[i].images %>">
            <% let backpackFound=false; %>
              <% for (let j=0; j < backpack.length; j++) { %>
                <% if (favoriteImages[i].name===backpack[j].name && backpack[j].backpack) { %>
                  <% backpackFound=true; %>
                    <img class="backPick" src="<%= backpack[j].backpack %>" />
                    <% } %>
                      <% } %>
                        <% if (!backpackFound) { %>
                          <img class="questionmarkFavoriet" src="../images/vraagteken.png" />
                          <% } %>
                            <% let pickaxeFound=false; %>
                              <% for (let k=0; k < pickaxe.length; k++) { %>
                                <% if (favoriteImages[i].name===pickaxe[k].name && pickaxe[k].pickaxe) { %>
                                  <% pickaxeFound=true; %>
                                    <img class="backPick" src="<%= pickaxe[k].pickaxe %>" />
                                    <% } %>
                                      <% } %>
                                        <% if (!pickaxeFound) { %>
                                          <img class="questionmarkFavoriet" src="../images/vraagteken.png" />
                                          <% } %>
          </section>
        </div>
        <% } %>
    </section>
  </div>
  <%- include('partials/footer.ejs') %>
