<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/reset.css" />
  <link rel="stylesheet" href="../css/home.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/header.css" />

  <script src="./js/script.js"></script>

  <title>Document</title>
</head>

<body>

  <section class="avatarPic">
    <% if (avatarDb) { %>
      <img src="<%= avatarDb %>" />
      <% } else { %>
        <img src="../images/vraagteken.png" />
        <% } %>
  </section>
  <nav>
    <ul>
      <li class="browser"><a href="/">Landing Page</a></li>
      <li class="ipad"><a href="/">&#8592;</a></li>
      <li><a href="/fortniteHome">Home</a></li>
      <li><a href="/favoriet">Favorieten</a></li>
      <li><a href="/blacklist">Blacklists</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
  <section class="title">
    <p>Prepare yourself for battle by choosing one of these avatars!</p>
  </section>

  <section class="mainBodyHome">
    <% for (let i=0; i < 4; i++) { %>
      <div class="flip-card" tabIndex="0">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="<%= avatarImage[i].images %>" />
          </div>
          <div class="flip-card-back">
            <h3 class="name">
              <span>
                <%= avatarImage[i].name %>
              </span>
            </h3>
            <ul name="avatarInformatieDB">
              <li>
                <%= avatarImage[i].description %>
              </li>
              <li>
                <%= avatarImage[i].type %>
              </li>
              <li>
                <%= avatarImage[i].rarity %>
              </li>
              <li>
                <%= avatarImage[i].series %>
              </li>
              <% if (avatarImage[i].favoriet) { %>
                <img src="../images/ster.jpg" />
                <% } %>
            </ul>
          </div>
        </div>
        <section class="choiceIndex">
          <form action="/fortnitehome/avatar" method="post" name="avatar">
            <input type="hidden" name="id" value="<%= i %>">
            <input type="hidden" name="avatarImage" value="<%= avatarImage[i].images %>">
            <button class="choiceIndexButton1" type="submit">Avatar</button>
          </form>
          <form action="/favoriet" method="post">
            <input type="hidden" name="name" value="<%= avatarImage[i].name %>">
            <input type="hidden" name="image" value="<%= avatarImage[i].images %>">
            <input type="hidden" name="id" value="<%= avatarImage[i].i %>">
            <button class="choiceIndexButton2" type="submit">Favourite</button>
          </form>
          <div class="modal" data-modal-target="#modal<%= i %>">
            <div class="modal-header">
            </div>
            <div class="modal-body">
              <form method="post" action="/blacklist">
                <input type="hidden" name="id" value="<%= avatarImage[i]._id %>" />
                <input type="hidden" name="name" value="<%= avatarImage[i].name %>">
                <input type="hidden" name="image" value="<%= avatarImage[i].images %> %>" />
                <button class="choiceIndexButton3" type="button"
                  onclick="toggleTextarea('<%= avatarImage[i]._id %>')">Blacklist</button>
                <textarea id="blacklistReason<%= avatarImage[i]._id %>" name="blacklistReason"
                  placeholder="Reason for blacklisting" style="display:none;"></textarea>
                <button id="submitButton<%= avatarImage[i]._id %>" class="choiceIndexButton3" type="submit"
                  style="display:none;">Submit</button>
              </form>
            </div>
          </div>
        </section>

      </div>
      <% } %>
  </section>
  <script>
    const toggleTextarea = (id) => {
      const textarea = document.getElementById(`blacklistReason${id}`);
      const submitButton = document.getElementById(`submitButton${id}`);
      if (textarea.style.display === 'none') {
        textarea.style.display = 'block';
        submitButton.style.display = 'block';
      } else {
        textarea.style.display = 'none';
        submitButton.style.display = 'none';
      }
    };
  </script>
  <footer>
    <section>
      <h2>Copyright &copy;MSI - Ramazan Sofyan Dachi Rachad</h2>
    </section>
    <section>
      <img src="../images/ap.png">
    </section>
  </footer>
</body>

</html>