<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/reset.css" />
  <link rel="stylesheet" href="../css/infoPage.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/header.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <section class="avatarPic">
    <% if (avatarDb) { %>
      <img src="<%= avatarDb %>" />
      <% } else { %>
        <img src="../images/vraagteken.png" />
        <% } %>
  </section>
  <nav>
    <ul>
      <li class="browser"><a href="/">Landing Page</a></li>
      <li class="ipad"><a href="/">&#8592;</a></li>
      <li><a href="/fortniteHome">Home</a></li>
      <li><a href="/favoriet">Favorieten</a></li>
      <li><a href="/blacklist">Blacklists</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
  <main>
    <h2 class="itemTopName">
      <%=character.name%>
    </h2>
    <br>
    <section class="proberen">
      <section class="avatarInfoFav">
        <img src="<%= character.images %>" class="profile__image" />
        <div class="profile__details">
          <div class="infoAvatars">
            <% if(character.description){ %>
              <p><span>description:</span>
                <%= character.description %>
              </p>
              <% } %>
                <% if(character.type){ %>
                  <p><span>Type:</span>
                    <%= character.type %>
                  </p>
                  <% } %>
                    <% if(character.rarity){ %>
                      <p><span>Rarity:</span>
                        <%= character.rarity %>
                      </p>
                      <% } %>
          </div>
          <div class="infoForm">
            <form action="/favoriet/:id/update">
              <label for="wins" class="textForm"><i id="thumbs-up" class="fa fa-thumbs-up"></i></label>
              <input type="number" id="quantity" name="quantity" min="0" max="5" placeholder="0">
              <label for="loses" class="textForm"><i id="thumbs-down" class="fa fa-thumbs-down"></i></label>
              <input type="number" id="quantity" name="quantity" min="-5" max="0" placeholder="0"> <br><br>
              <label class="titleForm" for="Notities">Notes</label><br><br>
              <textarea name="notitieAvatar" id="notitieAvatar" cols="30" rows="10"></textarea><br><br>
              <div class="formSendButton">
                <input type="reset" value="Reset">
                <input type="submit" value="Submit">
              </div>
            </form>
          </div>
        </div>
      </section>
    </section>
    <br><br><br>
    <h1 class="itemTitle">Shop</h1>
    <br>
    <div class="charTabel">
      <form action="/favoriet/<%= character.name %>/update" method="post">
        <input type="hidden" name="id" value="<%=character.name%>">
        <section class="testing">
          <% for(let i=0; i<4;i++){ %>
            <div class="charSolo">
              <div class="TitleInputForm">
                <h2 class="itemTitleh2">
                  <%= avatarBackpack[i].item.name %>
                </h2>
                <input type="radio" name="backpack" value="<%= avatarBackpack[i].item.images.icon %>">
              </div>
              <label for="backpack" name="<%=i%>"><img src="<%= avatarBackpack[i].item.images.icon %>" /></label> <br>
              <div class="TitleInputForm">
                <h2 class="itemTitleh2">
                  <%= avatarBackpack[i].item.name %>
                </h2>
                <input type="radio" name="pickaxe" value="<%= avatarPickaxe[i].item.images.icon %>">
              </div>
              <label for="pickaxe" name="<%=i%>"><img src="<%= avatarPickaxe[i].item.images.icon %>" /></label>
            </div>
            <% } %>
        </section>
        <br>
        <div class="formSendButton">
          <input type="reset" value="Reset">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
    </section>
    </div>
  </main>
  <footer>
    <section>
      <h2>Copyright &copy;MSI - Ramazan Sofyan Dachi Rachad</h2>
    </section>
    <section>
      <img src="../images/ap.png">
    </section>
  </footer>
</body>

</html>