<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/blacklist.css">
  <title>Document</title>
</head>
<body>
  <section class="avatarPic">
    <img src="../images/vraagteken.png" />
  </section>
  <%- include('partials/header')%>
  <section class="blacklistLayout">
    <ul>
      <% for (let i = 0; i < blacklist.length; i++) { %>
        <li>
          <img src="<%= blacklist[i].images %>">
          <p>Name: <%= blacklist[i].name %></p>
          <p>Blacklisted Reason: <%= blacklist[i].blacklistReason %></p>
          <div class="buttonblacklist">
            <form method="post" action="/blacklist/<%= i %>">
              <textarea name="blacklistReason" >You like to change the reason why you blacklist this avatar?</textarea>
              <button type="submit">Save</button>
            </form>
            <form method="post" action="/blacklist/<%= i %>">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit">Delete</button>
            </form>
          </div>
        </li>
      <% } %>
    </ul>
</section> 
  <%- include('partials/footer')%>
  
  
</body>

</html>